APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
WEB_URL=http://localhost:5173

API_PORT=8080
WEB_PORT=5173

SESSION_COOKIE_NAME=columbiagames_session
SESSION_SECURE=false

CG_CCM_DB_HOST=127.0.0.1
CG_CCM_DB_PORT=5432
CG_CCM_DB_NAME=ccm
CG_CCM_DB_USER=postgres
CG_CCM_DB_PASSWORD=postgres

CG_STORE_DB_HOST=127.0.0.1
CG_STORE_DB_PORT=5432
CG_STORE_DB_NAME=columbia_games
CG_STORE_DB_USER=postgres
CG_STORE_DB_PASSWORD=postgres
